table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(3n) td {
    font-weight: bold;
    color: green;
}

tbody tr:nth-child(4n+1) td {
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}

thead {
    background-color: lightgrey;
    font-size: larger;
    font-style: italic;
}

tbody tr:last-child {
    background-color: yellow;
}